/* Shared styles */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
}

.common-button{
  padding:.875rem 1.5rem .81rem 1.56rem;
  background-color: #FF5400;
  font-weight: 800;
  font-size: 1.2rem;
  border: none;
  border-radius: 8px;
  color: #ffffff;
  cursor: pointer;
}
:root{
  --primary-color:#131318;
}
.common-text{
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  color: #5A5A5D;
}
.common-title{
  font-size: 2.2rem;
  font-weight: 800;
  color: var(--primary-color);
}
span{
  color: #FF5400;
}

header, main{
  max-width: 65rem;
  margin: 0 auto;
}


/* nav related styles */

nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 3.25rem;
}
.nav-logo{
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 800;
  color:var(--primary-color);
  cursor: pointer;
}
nav ul{
  display: flex;
  list-style: none;
}
nav li{
  text-decoration: none;
  margin-left: 2.4rem;
  padding:0;
}
nav li a{
  text-decoration: none;
  color: #424247;
  font-size: 1rem;
  font-family: 400;
}


/* header bannar related styles */
.header-bannar{
  margin-top: 3rem;
  position: relative;
  text-align: center;
}

.header-bannar img{
width: 100%;
}
.bannar-details{
  position: absolute;
  top: 0;
  width: 100%;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;

}
.bannar-details h2{

  font-size: 3.5rem;
  color: #ffffff;
  padding: 1rem 0;
  margin-top: 2rem;
}
.bannar-details p{
  margin-top: 1rem;
  color: #ffffff;
}

.bannar-details .menu {
  max-width: 50rem;
  margin: 0 auto;
  margin-top: 2rem;
  background-color:#ffffff4d;
  border-radius: 10px;
 display: flex;
  align-items: center;
  gap: 1rem;
  padding: .8rem .5rem;
}

.menu input{
  padding: 1rem;
  border-radius: 5px;
  border: none;
  outline: none;
 
}
.input-btn{
 text-wrap: nowrap;
 padding-left: 20px;
 padding-right: 20px;
 
}
.input-btn i{
  padding-right: .5rem;
 
}


            /* Tours section */



.tours{
  display: flex;
  margin-top: 6.25rem;
  gap: 2.5rem;
  }
  .tours .text{
    width: 50%;
    text-align: justify;
  }
  .tours .text li{
    margin-left:2rem;
  }
  .tours .our-populer-img{
    width: 50%;
  }
  .tours .our-populer-img img{
    width: 100%;
  }
  .text h2, p, li{
    padding-bottom: 1.5rem;
  }
  .text li{
    margin-left: 1rem;
  }

/* Destination section related style */

  .destination-title{
    margin-top: 5rem ;
    text-align: center;
  }
  .destination-title p, .choose-article p{
    margin-top: 1.5rem;
    margin-bottom: 3rem;
    line-height: 1.6rem;
  }
  
.plac{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 1rem;
  margin-bottom: 6rem;
}
.box{
  position: relative;
  height: 1.75rem;
  text-align: center;
  height:100%;
}
.box h4{
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  font-size: 1.2rem;
}
.box img{
  width: 100%;
  height: 100%;
}

.plac .box-1{
  min-height: 18.75rem;
  grid-column: 6 span;
  grid-row: 1 span;
}
.plac .box-2{
  min-height: 18.75rem;
  grid-column: 6 span;
  grid-row: 1 span;
}
.plac .box-3{
  min-height: 18.75rem;
  grid-column: 4 span;
  grid-row: 1 span;
}
.plac .box-4{

  min-height: 18.75rem;
  grid-column: 5 span;
  grid-row: 1 span;
}
.plac .box-5{

  min-height: 18.75rem;
  grid-column: 3 span;
  grid-row: 1 span;
}
.plac .box-6{
  min-height: 18.75rem;
  grid-column: 5 span;
}
.plac .box-7{
  min-height: 18.75rem;
  grid-column: 7 span;
  grid-row: 1 span;
}
                         /* end */

                         /*  Choose us section related styles */


      .choose-article{
        text-align: center;
      }
      .choose-article p{
        margin-top: 1.5rem;

      }
      .facility{
        display: flex;
        text-align: left;
        gap: 1.5rem;
        
      }
      .hotel{
        background-color: #FBB5630D;
        padding: 2rem 3rem 2rem 2rem;
        border-radius: 1rem;
        width: 50%;
      }
      .service{
        padding: 2rem 3rem 2rem 2rem;
        background-color: #29CEF60D;
        border-radius: 1rem;
        width: 50%;
      }
      .hotel h4, .service h4{
        font-size: 1.2rem;
        
        font-weight: 800;
        color: var(--primary-color);
        margin-top: 1.8rem;
      }
      .hotel p, .service p{
        margin-top: 1rem;
        margin-bottom: 0;
      }
      .facility-2{
        display: flex;
        justify-content: center;
      }
      .best-price{
        text-align: left;
        width: 31.75rem;
        height: 17.25rem;
        padding: 2rem 3rem 2rem 2rem;
        margin-top: 1.5rem;
        background-color:#E944440D ;
        border-radius: 1rem;
      }
      .best-price h4{
        font-size: 1.2rem;
        font-weight: 800;
        color: var(--primary-color);
        margin-top: 1.8rem;
      }
      .best-price p{
        margin-top: 1rem;
        margin-bottom: 0;
      }



/* deals and discounts */


.deals-discounts{
  margin-top: 6.25rem;
  text-align: center;
}
.deals-discounts h2, .delas-text{
  margin-bottom: 2rem;
}
.deals-discounts 
.deals-bannar{
  width: 100%;
  position: relative;
}

.packag-1{
  position: relative;
  top: 0;
  height: 100%;
  align-items: center;
  justify-content:flex-end;
  color: #000000;
  border-radius: 1rem; 
  margin-bottom: 5rem

}
.price{
  position: absolute;
  top: 2rem;
  right: 2rem;
  background-color:#FFFFFFCC;
  max-width:32rem ;
  height: 24rem;
  padding: 2rem;
  border-radius: 1rem;
  text-align: left;
}
.price-2{
  left: 2rem;
}
.price p ,.place-details p{
  margin-top: 1rem;
  color: #5A5A5D;
  text-align: justify;
}
.price ul{
  display: flex;
  list-style: none;
  
}
.price li{
  display: flex;
  align-items: center;
  margin-right: 1.5rem;
  gap: .5rem;
  
}
.price h4{
  margin-bottom: .8rem;
}


/* end */

/* perfect-place */
.perfect-place{
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 5rem 0;
}
.place-details{
  width: 50%;
}
.place-details ul{
  margin-left: .8rem;
}

.place-view{
  width: 50%;
}
.place-view video{
  width: 100%;
  border-radius: 1rem;
  
}
      /* end */


      /* form section */

.form-discounts-bannar{
  display: flex;
  gap: 2rem;
  align-items: center;
  margin-bottom: 5rem;

}
.form{
  border: 2px solid #FF5400;
  border-radius: 1rem;
  width: 40%;
  padding: 2.5rem;
}
.form h2{
  margin-bottom: 1rem;
}
.form p{
  margin-top: 1rem;
  color: #5A5A5D;
  text-align: justify;
}
hr{
  margin: 1.5rem auto;
}
.form input{
  height: 3.25rem;
  width: 20rem;
  margin-bottom: 1rem;
  padding: 0 1rem;
  border: none;
  border-radius: 5px;
  background-color:#1313180D;
}
.subscribe{
  width: 20rem;
}
.discounts-bannar{
  position: relative;
  width: 60%;
  
}
.discounts-bannar img{
  width: 100%;
  position: relative;
}
.discounts-bannar .offer{
  position: absolute;
  bottom: 4.2rem;
  right: 0.6rem;
  width: 18rem;
  height: 7.5rem;
  border-radius: 1rem;
  background-color: #FF5400;
  text-align: center;
  transform: rotate(-30deg);
}
.offer h6{
  font-size: 1.5rem;
  color: #ffffff;
  margin-top: 1rem;
}
.offer h4{
  color: #ffffff;
  font-size: 2rem;
  font-weight: 800;
}

/* end */

/* footer */
footer{
  background-color: #F3F3F3;
  height: 30rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
footer h4{
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 2rem;
  margin-bottom: 1rem;
}
.footer-description{
  max-width: 45rem;
  color: #5A5A5D;
  text-align: center;
  margin-bottom: .9rem;
}
footer .icon{
  font-size: 2rem;
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
}
footer hr{
  width: 45rem;
  margin-bottom: 2.5rem;
}







/* media query */
@media screen and (max-width:600px) {
  nav, .tours, header, main ,.facility{
    flex-direction: column;
    padding: .8rem 1rem;
  }
  nav ul{
    margin-top: 1.5rem;   
    gap: 2.5rem;
  }
  nav li{
    margin: 0;
  }
          /* header bannar */
  .header-bannar{
    height: 30rem;
    border-radius: 1rem;
    
    
  }
  .bannar-details h2{
    font-size: 2.2rem;
    margin: 0;
    padding: 0;
  }
  .bannar-details p{
    margin-bottom: 0;
  }
  .bannar-img{
    height: 100%;
    border-radius: 1rem;
  }
  .bannar-details .menu{
    display: flex;
    flex-direction: column;
    padding: 1rem 1rem;
    margin-top: 0;
  }
  .menu input, .input-btn{
    width: 18rem;
  }

             /* tours section */
  .tours{
    padding: 0 ;
    margin-top: 0;
  }
  .tours .text{
    width: 100%;
    margin-top: 3rem;
  }
  .tours .our-populer-img{
    width: 100%;
    margin-top: 3rem;
  }

              /* plac section */
  
  .plac{
    grid-template-columns: repeat(1, 1fr);
    gap: 0;
    row-gap: 1rem;

  } 
  .box{
    height: 21rem;
  }


  /* choose section */
  .facility{
    padding:0;
  }
  .facility .hotel, .service{
    
    width: 100%;
  }
/* deals & discounts */
.deals-bannar{
  height: 30rem;
}
.price {
  width: 30rem;
  top: 3rem;
  left: 1.5rem;

}

/* perfect-place */
.perfect-place{
  flex-direction: column;
}
.place-details{
  width: 100%;
}
.place-view{
  width: 100%;
}

/* form section */
.form-discounts-bannar{
  flex-direction: column;
}
.form{
  width: 100%;
  text-align: center;
}

.discounts-bannar{
  width: 100%;
}


  
}







